*{ 
    list-style-type: decimal;
    border: 10px;
    text-align: 0px;
    text-decoration: dashed;
}


/* 
 @keyframes colorChange {
  0%   { background: red; }
  20%  { background: blue; }
  40%  { background: green; }
  60%  { background: orange; }
  80%  { background: purple; }
  100% { background: red; }
 }

*{
  font-size: 20px;
  animation: colorChange 20s linear infinite;
}  */


